<% content_for :js do %>
<%= javascript_include_tag "AnimOnScroll" %>
<%= javascript_include_tag "classie" %>
<%= javascript_include_tag "masonry.pkgd.min" %>
<%= javascript_include_tag "modernizr.custom" %>
<%= javascript_include_tag "imagesloaded" %>
<script>
  new AnimOnScroll( document.getElementById( 'grid' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.1
   } );
</script>
<%end%>

<% content_for :css do %>
<%= stylesheet_link_tag "component.css" %>
<%end%>

    <div class="jumbotron">
      <div class="container">
        <h1>贊助列表</h1>
        <p>Sponsor from company&Shop in over 100 companies and 200 shops.</p>
      </div>
    </div>
    <div class="container">
        <div class="row">
        <ul class="grid effect-2" id="grid">

          <%@sponsors.each do |sponsor|%>
            <li >
              <div  class="blk">
                <h2><%= sponsor.name %></h2>
                <%= image_tag( sponsor.img_URL_outer ) %>
                <%= link_to '贊助內容  >>', sponsor_path(sponsor), class: "btn btn-warning"%>
              </div>
            </li>
         <% end%>
       </ul>
    </div>
