
   <% content_for :js do %>
    <%= javascript_include_tag "AnimOnScroll" %>
    <%= javascript_include_tag "classie" %>
    
    <%= javascript_include_tag "masonry.pkgd.min" %>
    <%= javascript_include_tag "modernizr.custom" %>
   <script>
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.1
      } );
    </script>


<%end%>

<% content_for :css do %>
<%= stylesheet_link_tag "component.css" %>
<%end%>

    <div class="jumbotron">
      <div class="container">
        <h1>贊助列表</h1>
        <p>Sponsor from company&Shop in over 100 companies and 200 shops.</p>
        
      </div>
    </div> 
    <div class="container">        
        <!-- Example row of columns -->
        <div class="row">

        <ul class="grid effect-2" id="grid">        
        <li >
            <div  class="blk">
                    <h2>D.C.T  Studio</h2><img src="//i.imgur.com/Fp9a6p9.png">
                    <p>我們致力於,藉由影片呈現的方式
                    完成大家的夢想跟幻想,或許這條路很難走,很辛苦,但我們從來都不後悔去實踐我們的願景... </p>
                      <p><a class="btn  btn-warning" href="sponsors/show">贊助內容 &raquo;</a></p>
            </div>
        </li>
        <li >
            <div  class="blk">
                    <h2>HTC</h2><img src="//www.theinquirer.net/IMG/668/254668/htc-logo-1.jpg">
                    <p>宏達國際電子，簡稱宏達電、HTC（品牌使用名稱，來自其最初英文名稱「High Tech Computer」），是臺灣一家跨國資訊科技公司，主要從事智慧型手機、平板電腦等  </p>
                      <p><a class="btn  btn-warning" href="#">贊助內容 &raquo;</a></p>
            </div>
        </li>
        <li >
             <div  class="blk">
                    <h2>YAHOO</h2><img src="//netdna.webdesignerdepot.com/uploads/2013/02/featured35@wdd2x.jpg">
                    <p>提供最方便的網站搜尋、即時新聞、生活資訊和Yahoo奇摩服務入口。... </p>
                      <p><a class="btn  btn-warning" href="#">贊助內容 &raquo;</a></p>
            </div>
        </li>
           <li >
            <div  class="blk">
                    <h2>Kdan Mobile</h2><img src="//www.timglobe.com.tw/upload/file/201410091457167626038565.png">
                    <p>凱鈿行動科技(Kdan Mobile)為一家提供行動軟體開發以及商業分析的專業公司。 ... 強 2012年參加中國北京Macworld展覧 2012年臺北國際數位內容設計競賽Mobile ...... </p>
                      <p><a class="btn  btn-warning" href="#">贊助內容 &raquo;</a></p>
            </div>
        </li>
        <li >
             <div  class="blk">
                    <h2>統一企業</h2><img src="//www2.jtf.org.tw/psyche/sportrelief/images/logo11.jpg">
                    <p>統一企業股份有限公司,飲料製造業,統一企業1967 年8 月25日創立於台南永康，持續朝五十年邁進。除致力食品製造本業以外，同時不斷拓展新的事業，目前國內外轉... </p>
                      <p><a class="btn  btn-warning" href="#">贊助內容 &raquo;</a></p>
            </div>
        </li>
        <li >
             <div  class="blk">
                    <h2>BAND Our Story社團故事投稿大賽</h2><img src="//i.imgur.com/4GHk5Xt.jpg">
                    <p>投稿、分享、投票，為你們的社團贏得總獎項 NT$100,000社團基金！ </p>
                      <p><a class="btn  btn-warning" href="#">贊助內容 &raquo;</a></p>
            </div>
        </li>
        <li >
            <div  class="blk">
                    <h2>Flying V</h2><img src="//i.imgur.com/n7FgLcw.png">
                    <p>flyingV 專注於群眾創意的實現，我們為你準備好秀出創意和願景的舞台，並提供從專利輔導到行銷推廣等一系列的協助，望能協助您實現夢想。... </p>
                      <p><a class="btn  btn-warning" href="#">贊助內容 &raquo;</a></p>
            </div>
       

     <%@sponsors.each do |sponsor|%>
      <li >
             <div  class="blk">
                    <h2><%= ＠sponsor.name %></h2><img src="//http://i.imgur.com/NYFtfd6.png">
                    <p><%= ＠sponsor.description %></p>
                      <p><a class="btn  btn-warning" href="sponsors/show">贊助內容 &raquo;</a></p>
            </div>
        </li>
         <% end%>

       </ul>       
    </div>
    <% content_for :js do %>
    <%= javascript_include_tag "imagesloaded" %>
    <script>
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.1
      } );
    </script>
    <%end%>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
