<% content_for :css do %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "pages" %>
<%end%>
    <div class="jumbotron">
      <div class="container">
        <h1>達成企業任務  我們給你贊助</h1>
        <p>Sponsor from company&Shop in over 100 companies and 200 shops.</p>
        <a href="sponsors" color="red">贊助列表</a>

      </div>
    </div>

    <div class="neighborhood-guides">
      <div class="container">
        <h2> "贊助公司" </h2>
        <p>"We provide you the Top company those interested in student market"  </p>

          <div class="row">

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag("htc.jpg") %>
              </div>
              <div class="thumbnail">
                <%= image_tag("yahoo.jpg") %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag("kdan.png") %>
              </div>
              <div class="thumbnail">
                <%= image_tag("uni.jpg") %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="thumbnail">
                <%= image_tag("band.png") %>
              </div>
            </div>

          </div>
        </div>
      </div>

    <div class="learn-more">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 >使用者分享 1</h3>
            <p>iSponsor真的讓我們社團拉贊助變更方便了-前AIESEC成大分會社長</p>
            <p><a href="#">See how to sponsor you</a></p>
            <h3>使用者分享 2</h3>
            <p>介面簡單而且能避免拉到重複的店家-電機系系會公關長</p>
            <p><a href="#">Learn more about how to sponsor</a></p>
          </div>
        </div>
      </div>
    </div>
