<!DOCTYPE html>
<html>
<head>
  <title>iSponsor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= yield :css %>
</head>
<body>
 <%= render 'layouts/header' %>
 <%= notice_message  %>
 <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :js %>
  <%= render 'layouts/footer' %>
</body>
</html>
